@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?tl6klj');
	src:url('fonts/icomoon.eot?#iefixtl6klj') format('embedded-opentype'),
		url('fonts/icomoon.woff?tl6klj') format('woff'),
		url('fonts/icomoon.ttf?tl6klj') format('truetype'),
		url('fonts/icomoon.svg?tl6klj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-times:before {
	content: "\e600";
}

.icon-tick:before {
	content: "\e601";
}

.icon-plus:before {
	content: "\e602";
}

.icon-minus:before {
	content: "\e603";
}

.icon-equals:before {
	content: "\e604";
}

.icon-divide:before {
	content: "\e605";
}

.icon-chevron-right:before {
	content: "\e606";
}

.icon-chevron-left:before {
	content: "\e607";
}

.icon-arrow-right-thick:before {
	content: "\e608";
}

.icon-arrow-left-thick:before {
	content: "\e609";
}

.icon-th-small:before {
	content: "\e60a";
}

.icon-th-menu:before {
	content: "\e60b";
}

.icon-th-list:before {
	content: "\e60c";
}

.icon-th-large:before {
	content: "\e60d";
}

.icon-home:before {
	content: "\e60e";
}

.icon-arrow-forward:before {
	content: "\e60f";
}

.icon-arrow-back:before {
	content: "\e610";
}

.icon-location:before {
	content: "\e611";
}

.icon-arrow-up-thick:before {
	content: "\e612";
}

.icon-arrow-down-thick:before {
	content: "\e613";
}

.icon-delete:before {
	content: "\e614";
}

.icon-delete-outline:before {
	content: "\e615";
}

.icon-cancel:before {
	content: "\e616";
}

.icon-backspace:before {
	content: "\e617";
}

.icon-attachment:before {
	content: "\e618";
}

.icon-warning:before {
	content: "\e619";
}

.icon-user:before {
	content: "\e61a";
}

.icon-lock-open:before {
	content: "\e61b";
}

.icon-lock-closed:before {
	content: "\e61c";
}

.icon-info:before {
	content: "\e61d";
}

.icon-key:before {
	content: "\e61e";
}

.icon-sort-numerically:before {
	content: "\e61f";
}

.icon-at:before {
	content: "\e620";
}

.icon-th-menu-outline:before {
	content: "\e621";
}

.icon-trash:before {
	content: "\e622";
}

.icon-star-outline:before {
	content: "\e623";
}

.icon-mail:before {
	content: "\e624";
}

.icon-user-outline:before {
	content: "\e625";
}

.icon-user-delete-outline:before {
	content: "\e626";
}

.icon-user-add-outline:before {
	content: "\e627";
}

.icon-key-outline:before {
	content: "\e628";
}

.icon-folder:before {
	content: "\e629";
}

.icon-edit:before {
	content: "\e62a";
}

.icon-document-text:before {
	content: "\e62b";
}

.icon-clipboard:before {
	content: "\e62c";
}

.icon-power-outline:before {
	content: "\e62d";
}

.icon-stopwatch:before {
	content: "\e62e";
}

.icon-spanner-outline:before {
	content: "\e62f";
}

.icon-number:before {
	content: "\e630";
}

.icon-number2:before {
	content: "\e631";
}

.icon-number3:before {
	content: "\e632";
}

.icon-number4:before {
	content: "\e633";
}

.icon-number5:before {
	content: "\e634";
}

.icon-number6:before {
	content: "\e635";
}

.icon-number7:before {
	content: "\e636";
}

.icon-number8:before {
	content: "\e637";
}

.icon-number9:before {
	content: "\e638";
}

.icon-number10:before {
	content: "\e639";
}

.icon-number11:before {
	content: "\e63a";
}

.icon-number12:before {
	content: "\e63b";
}

.icon-number13:before {
	content: "\e63c";
}

.icon-number14:before {
	content: "\e63d";
}

.icon-number15:before {
	content: "\e63e";
}

.icon-number16:before {
	content: "\e63f";
}

.icon-number17:before {
	content: "\e640";
}

.icon-number18:before {
	content: "\e641";
}

.icon-number19:before {
	content: "\e642";
}

.icon-number20:before {
	content: "\e643";
}

.icon-tag:before {
	content: "\e644";
}

.icon-tag2:before {
	content: "\e645";
}

.icon-cabinet:before {
	content: "\e646";
}

.icon-cabinet2:before {
	content: "\e647";
}

.icon-calendar:before {
	content: "\e648";
}

.icon-calendar2:before {
	content: "\e649";
}

.icon-calendar3:before {
	content: "\e64a";
}

.icon-file:before {
	content: "\e64b";
}

.icon-file2:before {
	content: "\e64c";
}

.icon-file3:before {
	content: "\e64d";
}

.icon-files:before {
	content: "\e64e";
}

.icon-drink:before {
	content: "\e64f";
}

.icon-checkmark:before {
	content: "\e650";
}

.icon-checkmark2:before {
	content: "\e651";
}

.icon-cancel2:before {
	content: "\e652";
}

.icon-cancel3:before {
	content: "\e653";
}

.icon-plus2:before {
	content: "\e654";
}

.icon-plus3:before {
	content: "\e655";
}

.icon-minus2:before {
	content: "\e656";
}

.icon-minus3:before {
	content: "\e657";
}

.icon-notice:before {
	content: "\e658";
}

.icon-notice2:before {
	content: "\e659";
}

.icon-cog:before {
	content: "\e65a";
}

.icon-cogs:before {
	content: "\e65b";
}

.icon-cog2:before {
	content: "\e65c";
}

.icon-warning2:before {
	content: "\e65d";
}

.icon-health:before {
	content: "\e65e";
}

.icon-suitcase:before {
	content: "\e65f";
}

.icon-suitcase2:before {
	content: "\e660";
}

.icon-suitcase3:before {
	content: "\e661";
}

.icon-watch:before {
	content: "\e662";
}

.icon-watch2:before {
	content: "\e663";
}

.icon-alarmclock:before {
	content: "\e664";
}

.icon-time:before {
	content: "\e665";
}

.icon-checkmark3:before {
	content: "\e666";
}

.icon-cancel4:before {
	content: "\e667";
}

.icon-folder2:before {
	content: "\e668";
}

.icon-alarm:before {
	content: "\e669";
}

.icon-alarm-cancel:before {
	content: "\e66a";
}

.icon-phone:before {
	content: "\e66b";
}

.icon-phone2:before {
	content: "\e66c";
}

.icon-trashcan:before {
	content: "\e66d";
}

.icon-graduate:before {
	content: "\e66e";
}

.icon-lab:before {
	content: "\e66f";
}

.icon-locked:before {
	content: "\e670";
}

.icon-unlocked:before {
	content: "\e671";
}

.icon-box:before {
	content: "\e672";
}

.icon-diamond:before {
	content: "\e673";
}

.icon-moneybag:before {
	content: "\e674";
}

.icon-list:before {
	content: "\e675";
}

.icon-ruler:before {
	content: "\e676";
}

.icon-ruler2:before {
	content: "\e677";
}

.icon-tools:before {
	content: "\e678";
}

.icon-library:before {
	content: "\e679";
}

.icon-pencil:before {
	content: "\e67a";
}

.icon-edit2:before {
	content: "\e67b";
}

.icon-profile:before {
	content: "\e67c";
}

.icon-profile2:before {
	content: "\e67d";
}

.icon-profile3:before {
	content: "\e67e";
}

.icon-rotate:before {
	content: "\e67f";
}

.icon-rotate2:before {
	content: "\e680";
}

.icon-reply:before {
	content: "\e681";
}

.icon-forward:before {
	content: "\e682";
}

.icon-dollar:before {
	content: "\e683";
}

.icon-dollar2:before {
	content: "\e684";
}

.icon-coins:before {
	content: "\e685";
}

.icon-addressbook:before {
	content: "\e686";
}

.icon-addressbook2:before {
	content: "\e687";
}

.icon-envelope:before {
	content: "\e688";
}

.icon-info2:before {
	content: "\e689";
}

.icon-info3:before {
	content: "\e68a";
}

.icon-book:before {
	content: "\e68b";
}

.icon-badge:before {
	content: "\e68c";
}

.icon-keyboard:before {
	content: "\e68d";
}

.icon-keyboard2:before {
	content: "\e68e";
}

.icon-zip:before {
	content: "\e68f";
}

.icon-zip2:before {
	content: "\e690";
}

.icon-clipboard2:before {
	content: "\e691";
}

.icon-clipboard3:before {
	content: "\e692";
}

.icon-clipboard4:before {
	content: "\e693";
}

.icon-switch:before {
	content: "\e694";
}

